.sysmenu {   height: 36px; border:0px solid red;}
.place{height:35px;}
.sysmenu li { line-height: 31px; }
 #mainTab li{ height:31px; }
 .div-tab{ height: 33px; }

 .lefttop{height:35px;line-height:35px;}
 .lefttop-name{line-height: 33px; height: 33px;}
