<configuration>
  <configSections>
    <section name="entityConfiguration" type="ECI.Speed.Framework.EntityDefineSection, ECI.Speed.Core, Version=1.0.0.238, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <entityConfiguration>
    <entity name="FBS_BIZ_TYPE">
      <property name="IE_MARK" field="IE_MARK"  label="进出类型" allowBlank="false" select="true">
        <item text="进区" value="I" />
        <item text="出区" value="E" />
        <item text="进出区" value="IE" />
      </property>

      <property name="NEED_BGD" field="NEED_BGD"  label="是否需要报关单" allowBlank="false" select="true">
        <item text="是" value="Y" />
        <item text="否" value="N" />
      </property>

    </entity>

    <entity name="BASE_TEST" title="业务类型">
      <property name="IE_MARK" field="IE_MARK"  label="进出类型" allowBlank="false" select="true">
        <item text="进区" value="I" />
        <item text="出区" value="E" />
        <item text="进出区" value="IE" />
      </property>

      <property name="NEED_BGD" field="NEED_BGD"  label="是否需要报关单" allowBlank="false" select="true">
        <item text="是" value="Y" />
        <item text="否" value="N" />
      </property>

    </entity>

  </entityConfiguration>
</configuration>