<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <BizNotice>
    <Name>销售系统</Name>
    <Image>A.jpg</Image>
    <Url>http://localhost:1155/BizNotice.aspx?Type=00000AAAAA01</Url>
  </BizNotice>

  <BizNotice>
    <Name>报销管理</Name>
    <Image>A.jpg</Image>
    <Url>http://localhost:1155/BizNotice.aspx?Type=000BBBBB0002</Url>
  </BizNotice>

  <BizNotice>
    <Name>采购与资产</Name>
    <Image>A.jpg</Image>
    <Url>http://localhost:1155/BizNotice.aspx?Type=000BBBBB0003</Url>
  </BizNotice>

 
  
  
</configuration>
