<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <Config>
    <Code>AppName</Code>
    <Name>应用程序名称</Name>
    <Status>1</Status>
  </Config>

  <Config>
    <Code>LogPath</Code>
    <Name>日志地址</Name>
    <Status>1</Status>
  </Config>

  <Config>
    <Code>EciTableReadType</Code>
    <Name>数据字典读取方式</Name>
    <Status>1</Status>
  </Config>

  <Config>
    <Code>EciDataHelpReadType</Code>
    <Name>数据选择读取方式</Name>
    <Status>1</Status>
  </Config>

  <Config>
    <Code>InstanceId</Code>
    <Name>系统部署实例ID</Name>
    <Status>1</Status>
  </Config>
  
<Config>
    <Code>InstanceCodePrefix</Code>
    <Name>系统部署实例编号前缀</Name>
    <Status>1</Status>
  </Config>

</configuration>
