<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <BasicConfig>
    <MemoDetailNotNull>false</MemoDetailNotNull>
    <!--系统内容来源设置:View视图、Config配置、App程序扩展-->
    <SysInfoSource>Config</SysInfoSource>
    <SysInfoViewName>BOOK_TYPE</SysInfoViewName>
  </BasicConfig>
 
  <SysInfo>
    <Code>HX</Code>
    <Name>核销模块</Name>
  </SysInfo>
  
  <SysInfo>
    <Code>BG</Code>
    <Name>报关模块</Name>
  </SysInfo>
</configuration>
