<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <FunctionBar>
    <Name>刷新</Name>
    <Code>Refresh</Code>
    <IsShow>1</IsShow>
  </FunctionBar>


  <FunctionBar>
    <Name>查看源码</Name>
    <Code>ViewSource</Code>
    <IsShow>0</IsShow>
  </FunctionBar>


  <FunctionBar>
    <Name>研发资源</Name>
    <Code>Resource</Code>
    <IsShow>0</IsShow>
  </FunctionBar>

  <FunctionBar>
    <Name>在线反馈</Name>
    <Code>Feedback</Code>
    <IsShow>0</IsShow>
  </FunctionBar>

  <FunctionBar>
    <Name>在线客服</Name>
    <Code>OnlineService</Code>
    <IsShow>0</IsShow>
  </FunctionBar>

  <FunctionBar>
    <Name>重新加载</Name>
    <Code>Reload</Code>
    <IsShow>1</IsShow>
  </FunctionBar>

  <FunctionBar>
    <Name>首页</Name>
    <Code>Home</Code>
    <IsShow>1</IsShow>
  </FunctionBar>

  <FunctionBar>
    <Name>开发平台</Name>
    <Code>Dev</Code>
    <IsShow>1</IsShow>
  </FunctionBar>

  <FunctionBar>
    <Name>修改密码</Name>
    <Code>ChangePassword</Code>
    <IsShow>1</IsShow>

  </FunctionBar>

  <FunctionBar>
    <Name>全屏</Name>
    <Code>FullScreen</Code>
    <IsShow>0</IsShow>
  </FunctionBar>

  <FunctionBar>
    <Name>退出</Name>
    <Code>Quite</Code>
    <IsShow>1</IsShow>
  </FunctionBar>


  <FunctionBar>
    <Name>退出</Name>
    <Action>Quite</Action>
  </FunctionBar>

  <ToolBar>
    <Name>重新加载</Name>
    <Action>Reload</Action>
    <AppCode></AppCode>
    <ClassName>btn-blue</ClassName>
    <Image></Image>
    <Url></Url>
  </ToolBar>

  <ToolBar>
    <Name>清除会话</Name>
    <Action>ClearSession</Action>
    <ClassName>btn-green</ClassName>
  </ToolBar>

  <ToolBar>
    <Name>刷新页面</Name>
    <Action>Refresh</Action>
    <ClassName>btn-green</ClassName>
  </ToolBar>

  <ToolBar>
    <Name>我的反馈</Name>
    <Action>MyFeedback</Action>
    <ClassName>btn-blue</ClassName>
  </ToolBar>

  <ToolBar>
    <Name>查看版本</Name>
    <Action>Version</Action>
    <ClassName>btn-green</ClassName>
  </ToolBar>


  <ToolBar>
    <Name>系统配置</Name>
    <Action>Config</Action>
    <ClassName>btn-green</ClassName>
  </ToolBar>

  <ToolBar>
    <Name>部署检查</Name>
    <Action>Access</Action>
    <ClassName>btn-blue</ClassName>
  </ToolBar>

  <ToolBar>
    <Name>切换公司</Name>
    <Action>Dialog</Action>
    <ClassName>btn-green</ClassName>
    <Url>../../App/Change/Change.aspx</Url>
    <Title>切换公司</Title>
    <Width>640</Width>
    <Height>380</Height>
    <IsShow>0</IsShow>
  </ToolBar>

  <ToolBar>
    <Name>辅助功能</Name>
    <Action>Dialog</Action>
    <ClassName>btn-green</ClassName>
    <Url>../../App/Tool/Tool.aspx</Url>
    <Title>辅助功能</Title>
    <Width>640</Width>
    <Height>380</Height>
  </ToolBar>

  <ToolBar>
    <Name>会话信息</Name>
    <Action>Dialog</Action>
    <ClassName>btn-green</ClassName>
    <Url>../../App/Session/SessionView.aspx</Url>
    <Title>会话信息</Title>
    <Width>640</Width>
    <Height>380</Height>

  </ToolBar>

  <ToolBar>
    <Name>浏览器支持</Name>
    <Action>Dialog</Action>
    <ClassName>btn-blue</ClassName>
    <Url>../../App/Tool/Broswer.aspx</Url>
    <Title>浏览器支持</Title>
    <Width>600</Width>
    <Height>320</Height>

  </ToolBar>


  <ToolBar>
    <Name>软件授权</Name>
    <Action>Dialog</Action>
    <ClassName>btn-green</ClassName>
    <Url>../../App/License/License.aspx?action=view</Url>
    <Title>软件授权</Title>


  </ToolBar>


  <ToolBar>
    <Name>IE版本检测</Name>
    <Action>IEVersion</Action>
    <ClassName>btn-blue</ClassName>
    <Url></Url>
    <Title>IE版本检测</Title>


  </ToolBar>

</configuration>
